

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf");
}

body {
    color: #ffffff;
}

.radio-inline, h5, label {
	color: black;
}


#highlight {
    font-size: 45px;
    margin: 0 auto;
    //background-color: rgba(255,0,0,0.8);
    
}

#bg-image {
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#mainlogo {
	height: 4.5em;
	width: auto;
}

.nav  {
	color: rgba(0, 0, 0, 0);
	height: 6em;
	padding: 3em 3em 1em 0.4em;
	vertical-align: top;
	margin-bottom: 8em;
}

.nav a {
  font-family: Roboto-Medium;
  color: #ffffff;
  font-size: 2em;
  padding: 0px 1.5em;
}

.nav li {
  display: inline;
}

#mainimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0.1em;
}

#text1 {
  margin-left: auto;
  margin-right: auto;
  padding: 0em 2.5em;
  font-size: 3em;
  margin-bottom: 0.5em;
  text-align: center;
  font-family: Roboto-Medium;
  font-weight: bold;
}

#text2 {
  margin-left: auto;
  margin-right: auto;
  padding: 0em 2.5em;
  font-size: 2.5em;
  margin-bottom: 2.5em;
  text-align: center;
  font-family: Roboto-Light;
}

#loginbtn {	
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
  background-color: rgba(152, 203, 74, 0);
  border: 0.1em solid rgba(152, 203, 74, 0.43);
  border-radius: 10px;
  font-size: 2.5em;
  height: 2.5em;
  width: 10em;
}

#loginbtn:hover {	
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 1em;
  background-color: rgba(152, 203, 74, 0.43);
  border: 0.1em solid rgba(152, 203, 74, 0.43);
  border-radius: 10px;
  font-size: 2.5em;
  height: 2.5em;
  width: 10em;
}

#signupbtn {	
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10em;
  background-color: rgba(255, 0, 0, 0);
  border: 0.1em solid rgba(255, 0, 0, 0.43);
  border-radius: 10px;
  font-size: 2.5em;
  height: 2.5em;
  width: 10em;
}

#signupbtn:hover {	
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10em;
  background-color: rgba(255, 0, 0, 0.43);
  border: 0.1em solid rgba(255, 0, 0, 0.43);
  border-radius: 10px;
  font-size: 2.5em;
  height: 2.5em;
  width: 10em;
}

#orImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
}

/*puts the modal near the center of the screen*/

.login-modal-dialog {
	padding-top: 10%;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

.register-modal-dialog {
	padding-top: 10%;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}

.login-submit {
	width: 100%;
	background-color: #98cb4a;
}

.first-column {
	width: 45%;
	float: left;
}

.second-column {
	width: 45%;
	float: right;
}

/*
.login-details {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 3em;
	margin-bottom: 0.5em;
}
*/


::-moz-selection { background: #fd625e; color: #fff; text-shadow: none; }
::selection { background: #fd625e; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #fd625e;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }


/***** Content *****/

.inner-bg {
    padding: 120px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .logo {
	display: inline-block;
	width: 181px;
	height: 43px;
	margin: 0 auto;
	background: url(../img/logo.png) center center no-repeat;
}

.top-content .text h1 {
	margin-top: 30px;
	color: #fff;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 45px;
}


/***** Modal *****/

.modal-content {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	border: 0;
	text-align: left;
}

.modal-header {
	padding: 25px 25px 15px 25px;
	background: #fff;
	border: 0;
	border-bottom: 1px solid #ddd;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
}

.modal-header .close {
	font-size: 36px;
	color: #888;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-title {
	margin-bottom: 10px;
	line-height: 30px;
}

.modal-body {
	padding: 25px 25px 30px 25px;
	background: #eee;
	text-align: left;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}

.modal-body img {
	margin-bottom: 15px;
}

.modal-body form textarea {
	height: 100px;
}

.modal-body form .input-error {
	border-color: #fd625e;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }

}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	/* logo */
    .top-content .logo {
    	background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 181px 43px !important;
    }
	
}



